body {
    background-color: #1b1b1b;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
}

.navbar {
    background-color: #161616; /* Dark blue background */
    overflow: hidden;
    margin: 0; /* Remove default margin */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    float: left;
    margin: 0; /* Remove default margin */
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.navbar li a:active {
    background-color: #ff9900; /* Orange on click */
}

.right-align {
    float: right;
    padding-right: 15px;
}

.title {
    text-align: center;
}